<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserRoleMapper">
    <insert id="insertUserRole" parameterType="UserRole">
        <selectKey keyProperty="roleId" resultType="integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into tb_user_role values (#{userId}, #{roleId})
    </insert>

    <sql id="selectAllProperties">
        select * from tb_user_role
    </sql>

    <select id="selectUserRoleByUserId" parameterType="integer" resultType="UserRole">
        <include refid="selectAllProperties"/>
        <where>
            <if test="userId != null">
                userId = #{userId}
            </if>
        </where>
    </select>

    <select id="selectUserRoleByRoleId" resultType="UserRole">
        <include refid="selectAllProperties" />
        where roleId=#{roleId}
    </select>

    <delete id="deleteUserRoleByUserId" parameterType="int">
        delete from tb_user_role where userId=#{userId}
    </delete>
</mapper>